/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal {
    color: black;
}
.title {
    position: absolute;
    top: 0;
}
.panel {
    position: absolute;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#controls {
    width: 12%;
    top: 20%;
    right: 2%;
}
#sliderControls {
    top: 7.5%;
    left: 50%;
    z-index: 100;
}
#instructions {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#information {
    top: 18%;
    left: 2.5%;
}
#reset {
    bottom: 15%;
    left: 2%;
}
/* Small screen - landscape */
@media (min-width: 576px) and (orientation: landscape) {
    #information {
        top: 20%;
    }
    #controls {
        top: 25%;
        width: 7.5%;
    }
    #instructions {
        width: 7%;
    }
}

/* iPad style screens */
@media (min-width: 768px) {
    #info {
        width: 7%;
    }
}

/* iPad in landscape */
@media (min-width: 992px) {
    #info {
        width: 6%;
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    #info {
        width: 4%;
    }
}