/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal {
    color: black;
}
.title {
    position: absolute;
    top: 0;
}
.title span {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}
span.lesserTitle {
    font-size: 1.15rem;
}
.panel {
    position: absolute;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#controls {
    width: 12%;
    top: 20%;
    right: 2%;
}
#sliderControls {
    top: 7.5%;
    left: 50%;
    z-index: 100;
}
#instructions {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#information {
    top: 18%;
    left: 2.5%;
}
#reset {
    bottom: 15%;
    left: 2%;
}
/* Small screen - landscape */
@media (min-width: 576px) and (orientation: landscape) {
    #information {
        top: 20%;
    }
    #controls {
        top: 25%;
        width: 7.5%;
    }
    #instructions {
        width: 7%;
    }
}

/* iPad style screens */
@media (min-width: 768px) {
    #controls {
        width: 15%;
    }
    #controls img {
        width: 66%;
    }
}

/* iPad in landscape */
@media (min-width: 992px) {
    #controls {
        width: 12.5%;
    }
}

/* Larger screens */
@media (min-width: 1200px) {
    #controls {
        width: 9%;
    }
    #instructions {
        width: 5%;
    }
}

/* Full HD screens */
@media (min-width: 1600px) {
    #controls {
        width: 6.75%;
    }
    #instructions {
        width: 3.5%;
    }
    .title span {
        font-size: 2rem;
    }
    span.lesserTitle {
        font-size: 1.25rem;
    }
}